@model MassLab.Identity.Web.Controllers.ForgotPasswordInput
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Forgot Password";
}

<div class="login-box">
    <div class="login-logo"><a asp-action="Login"><b>MassLab</b> Identity</a></div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Enter your email to receive a reset link.</p>
            <form asp-action="ForgotPassword" method="post">
                <div class="input-group mb-3">
                    <input asp-for="Email" class="form-control" placeholder="Email" autocomplete="username" />
                    <div class="input-group-append"><div class="input-group-text"><span class="fa fa-envelope"></span></div></div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Send reset link</button>
            </form>
        </div>
    </div>
</div>
