@model ResetPasswordInput
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Reset Password";
}

<div class="login-box">
    <div class="login-logo"><a asp-action="Login"><b>MassLab</b> Identity</a></div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Set a new password.</p>
            <form asp-action="ResetPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Token" />
                <div class="input-group mb-3">
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <div class="input-group-append"><div class="input-group-text"><span class="fa fa-envelope"></span></div></div>
                </div>
                <div class="input-group mb-3">
                    <input asp-for="Password" type="password" class="form-control" placeholder="New password" />
                    <div class="input-group-append"><div class="input-group-text"><span class="fa fa-lock"></span></div></div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Reset password</button>
            </form>
        </div>
    </div>
</div>
